.App {
  text-align: center;
  border: 1px solid pink;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-card {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid pink;
  height: 40%;
  margin: 15% 30% 15% 30%;
}

.nav-link {
  color: #61dafb;
  font-size: 1.2rem;
}

.nav-bar {
  border-bottom: 1px solid white;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  width: 300px;
}

.register-card-items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.text-box {
  width: 150px;
}
